{
  "extends": [
      "airbnb/base",
      "plugin:wdio/recommended"
  ],
  "rules": {
    "indent": ["error", 4],
    "func-names": "off",
    "max-len": ["error", { "code": 122 }],
    "class-methods-use-this": "off",
    "no-unused-vars": "off",
    "no-param-reassign": "off"
  },
  "plugins": ["wdio"],
  "env": {
    "mocha": true,
    "browser": true
  }
}
